body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-image: url(./Img/purple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

article {
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 7px black;
  /* border: 1px solid black; */

  height: 67.7vh;
}

/* img {
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 8px black;
  position: relative;
} */
img {
  width: 100%;
}

p {
  margin-top: 2em;
  /* margin-left: 3em; */
  /* position: absolute; */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  /* box-shadow: 0 0 8px black; */
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

h1 {
  font-style: bold;
  color: white;
  transform: scale(-1, 1);
}

/* Style the back side */
.flip-card-back {
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
  background-image: url(./../img/purple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 60%;
}
