/* Basic doc stuff etc. */
/* Note to self; bij border radius is de rem: Top left, Top right, Bottom left, Bottom right */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  position: relative;
  margin-top: 100px;
}

body {
  background: url(./../images/pexels-photo-6766456.jpeg) no-repeat center center
    fixed;
  background-size: cover;
}

header {
  text-align: center;
  background-color: #000000;
  border: 00FFFFFF;
  border-radius: 1rem 1rem 0 0;
  border-top: #000000;
  color: #ffffff;
  font-size: 20px;
}

/* Begin vanaf article */

article {
  left: 10%;
  width: 300px;
  height: 470px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(209, 209, 209), rgb(108, 108, 108));
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem 1rem 0 0;
  position: relative;
  transition: 0.25s;
  margin-bottom: 1rem;
  margin-top: 7.5em;
  rotate: -8deg;
}

h1 {
  text-align: center;
}

/* Introduction H-koppen */

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.introduction h1 {
  color: #000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.introduction > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* justify-content: center; */
}

.introduction ul {
  list-style-type: none;
}

.introduction ul li {
  width: 8em;
  align-items: baseline;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/*content en stuff */

.introduction img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #000000;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

/*Paragraph */
.introduction p {
  padding: 1em;
}

/*Foot fetish lmao, nee jk, tis de footer */

footer {
  text-align: center;
  background-color: #000000;
  border: 00FFFFFF;
  border-radius: 0 0 1em 1em;
  border-top: #000000;
  color: #ffffff;
  font-size: 20px;
}

/* Interests */

.interests > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

