* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#8c1260;
  background-color: beige;
}

article {
  width:50vw;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  background: rgb(204, 175, 248);
  background: linear-gradient(0deg, rgb(255, 220, 250) 40%, #d369b8 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  
}

h1 {
  margin:2rem 0 1rem;
  color: rgb(147, 12, 98);
  position:relative;
  top:-1.5rem;
  text-align: center;
  font-size: 1.5em;
}

button {
  border:none;
  position: absolute;
  right:1rem;
  top:1rem;
  width:2.5rem;
  height:2.5rem;
  transform: scale(.8);
  background: rgb(135, 35, 94);
  border-radius:50%;
  padding:.25rem;
  transition:.25s;
}
button:focus {
  outline:none;
  background:#6c2092;
}
button:focus svg {
  stroke: rgb(247, 209, 235);
}

svg {
  stroke: #d89afb;
  position: absolute;
  top:calc(1.25rem - 12px);
  left:calc(1.25rem - 12px);
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity:0;
  transition-delay: 0ms;
}

img {
  width:10em;
  border-radius:20em;
  border:5px solid rgb(255, 255, 255);
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  position:relative;
  margin-top:-4rem;
  transition:.25s .15s;
}

dl {
  width:100%;
  background: rgb(255, 255, 255);
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items:center;
  align-items:start;
  padding:5rem 0 3rem;
  margin-top: -3rem;
  margin-bottom: 0;
  text-align: center;
}
section1 {
  display: inline-block;
  color: azure;
  background-color: #d89afb;
  font-size: 1em;
  align: left;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 2em;
  padding-bottom: 2em;
  text-align: left;
  margin-top: -10rem
  
}
section2 {
  display: inline-block;
  color: azure;
  background-color: grey;
  font-size: 1em;
  align: left;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 2em;
  padding-bottom: 2em;
  text-align: left;
  margin-top: 0rem;
}
dt{
  font-weight: bold;
  border-top: 1px solid rgba(218, 218, 218, 0.3);
  padding-top: .25rem;
  margin-top: .25rem;
}
dt:nth-of-type(1){ grid-area: html-dt; }
dt:nth-of-type(2){ grid-area: css-dt; transform: translateY(1rem);}
dt:nth-of-type(3){ grid-area: js-dt; }

dd {
  margin:0;
  padding-left:.3rem;
  transition:.25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

p { 
  margin:0
}

article > p {
  padding:3rem 2rem;
  margin-top: 0;
  background:rgba(147, 147, 147, 0.5);
  text-align:left;
  border-radius: 0 0 1rem 1rem;
  width:50%;
}

/* expand content */
body.expand {
  font-size:1.15em;
}

body.expand article {
  width:60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity:0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity:1;
  transition-delay:.25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width:15em;
}
