body {
    /* typografie */
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1,5px;
    color: black;

    background-color: rgb(63, 63, 63);
    /* boxing */
    padding: 3em;
}

article {
    background: linear-gradient(90deg, #d1b7c1 20%, #d8f6ec 60%, #f7e8b0 100%);
    /* boxing */
    padding: 1em;
    border-radius: 0.8em;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    width: 25em;
    height: 13em;
    transition: 500ms;
}

h1 {
    /* box */
    margin-top: -8px;
    margin-bottom: 8px;
    /* typo */
    color: black;
    font-size: 2em;
    background: -webkit-linear-gradient(#0c0c0c, #4b4a4a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

article::after {
    content: '?';
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0.25rem;
    scale: 0.75;
}

img {
    border-radius: 0.8em;
    float: left;
    margin-right: 1em;
    object-fit: cover;
    width: 9.7em;
    height: 9.7em;
    box-shadow: 0 0 5px 1px black;
}

.naam {
    border-style: dashed;
    border-width: 1px;
    border-radius: 2px;
}

.info {
    color: #4f72b1;
    font-size: 0.7em;
}

.info:hover {
    font-size: 80%;
}

p {
    margin: 0px;
    font-size: 1em;
    transition: 300ms;
}

.center {
    margin: auto;
    width: 30%;
}

p:hover {
    font-size: 110%;
}


