* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  background-color: #E3E0DA;
}

/* Title styling*/ 

#title {
  font-family:Lucida;
  font-weight: bolder;
  color: black;
  text-align: center; 
  margin-bottom: 20px; 
  animation: zoomup 2s ease;
  animation-delay: calc(200ms * var(--i));
}

/* Cards & Card container styling*/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.card {
  width: 200px;
  height: 400px;
  border: 3px black solid;
  margin-right: 20px; 
}

#card-one {
  background-color: #160201;
  border-radius: 0.2em;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#card-one img {
  height: 400px;
  width: 190px;
  object-fit: cover;
}

#card-two {
  background-color: #160201;
  color: #E3E0DA;
  font-family: sans-serif;
  display: none;
  padding: 10px;
  border-radius: 0em 1em 1em 0em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: animatetop 0.3s ease;
  height: 386px;
  width: 620px;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 220px;
  overflow: hidden;
}

/* Skills, hobby's and contact info styling*/

.hobbies-title {
  font-family:Lucida;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hobbies-info {
  display: flex;
  justify-content: flex-start; 
  flex-wrap: wrap; 
  gap: 3em; 
  font-size: small;
}

.hobbies-item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

#skills-title{
  font-family: Lucida;
  font-weight: bolder;
  margin-top: 1em;
}

.skills-list {
  display: flex;
  flex-wrap: wrap; 
  list-style-type: none; 
  margin-top: 1em;
}

.skills-list li {
  flex: 1 1 50%;
  box-sizing: border-box; 
  padding: 5px;
  font-size: small;
}

#icons-hobby{
  margin-bottom: 0.5em;
}

#contact-title{
  font-family:Lucida Sans;
  margin-top: 3em;
  margin-bottom: 1em; 
  }

.contact-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3em;
  font-size: small;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

/* Animation for title and card */


@keyframes zoomup {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) translateY(-50px);
    filter: blur(1px);
    opacity: 0;
  }
}

@keyframes animatetop {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}

.expanded {
  transform: translateX(-120px); 
}
