@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: #202020;
}

.container {
    display: flex; 
    height: 100vh; 
    width: 100vw; 
    align-items: center; 
    justify-content: center;
}

/* Adds properties to the grid container */
.grid {
    display: grid; 
    height: 50%; 
    width:auto; 
    min-width: 400px; 
    max-width: 800px; 
    min-height: 200px; 
    max-height: 400px; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 16px;  padding: 8px; 
    border-radius: 12px;
    background-color: #202020;
    padding: 16px;
}

/* Adds properties to specific grid items */
.bento-item {
    background-color: #355E3B; 
    border-radius: 8px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

/* Adds properties specific to images in grid items */
.bento-item img {
    /* Inherits border-radius of the grid items */
    border-radius: inherit; 
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}

/* Adds sets width and how the image should scale on the top left grid item */
#profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
 list-style: none;
}

ul li {
    background-color: #355E3B;
    text-decoration: none;
}